.exercise {
    background-color: #C5C35E;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 1.5rem;
    color: #264653;
}

.Legs,
.Arms,
.Abs,
.Cardio {
    background-color:#F8961E;
    color: white;
    width: 50px;
    font-size: 0.7rem;
    border-radius: 3px;
    padding: 2px;
    margin: auto;
    margin-bottom: 5px;
}

.Arms {
    background-color:#F9C74F;
}

.Abs {
    background-color:#4D908E;
}

.Cardio {
    background-color:#F94144;
}