.segments-container {
    width: 100%;
}

.segment {
    background-color: #c4c132;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.segment ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.segment li {
    list-style-type: none;
    background-color: #e66747;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin: 0 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
}


.time {
    padding: 2px;
    background-color: rgb(240, 98, 126);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
}
