body {
  background-color: #2a9d8f;
  color: #264653;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #264653;
}

.navigation {
  width: 99%;
  
}

.navigation ul {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.navigation li {
  flex: 1;
  margin: 0 5px;
  background-color: #C5C35E;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  list-style-type: none;
}

.navigation li a {
  display: block;
}

.navigation li:hover,
.navigation li:active {
  background-color: #c4c132;
}

