.button {
    border: 1px solid #6AB47C;
    color: #fff;
    background: #6AB47C;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 1.5rem;
    font: inherit;
    margin: 5px;
}

.invalid {
    opacity: 0.5;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #9cc74c;
    border-color: #90BE6D;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
}

@media (min-width: 400px) {
    .button {
        width: 40%;
    }
}