.icon {
    position: absolute;
    bottom: 5px;
    left: 97%;
    cursor: pointer;
}

.icon div{
    background-color: rgb(210, 252, 22);
    height: 4px;
    width: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}