.inputs > label {
  display: flex;
  flex-direction: column;
  align-items:center;

}

.inputs input,
.inputs textarea,
.inputs select {
    border: 1px solid #264653;
    color: #264653;
    border-radius: 5px;
    background-color: #b2e4d5;
    width: 100%;
    min-height: 30px;
    font: inherit;
    margin-top: 10px;
}

.inputs textarea {
  resize: none;
  height: 100px;
}

.inputs select {
    text-transform: lowercase;
}

.inputs button[type=submit]:disabled {
  opacity: 0.35;
}

@media (min-width: 600px) {
    .inputs input,
    .inputs textarea,
    .inputs select {
        width: 70%;
    }
}