.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    text-align: center;
    background-color: #C5C35E;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 5vh;
    left: 15%;
    width: 70%;
    max-height: 800px;
    height: auto;
    z-index: 100;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}