
.program {
    border-radius: 10px;
    background-color: #C5C35E;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    position: relative;
}

.program h2 {
    margin: 0;
}

.details {
    background-color: #C5C35E;
    border-radius: 10px;
}